# Python
__pycache__/
*.py[cod]
*.egg-info/
.ipynb_checkpoints/

# uv / venv
.venv/
.python-version

# Data (keep structure, ignore contents)
data/raw/*
data/processed/*
!data/raw/.gitkeep
!data/processed/.gitkeep

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
.Rhistory
